backcall==0.2.0
click==8.0.0
decorator==4.4.2
ipython==7.23.1
ipython-genutils==0.2.0
jedi==0.18.0
Jinja2==3.0.1
jsonpickle==2.0.0
MarkupSafe==2.0.1
matplotlib-inline==0.1.2
networkx==2.5.1
parso==0.8.2
pexpect==4.8.0
pickleshare==0.7.5
ply==3.11
prompt-toolkit==3.0.18
ptyprocess==0.7.0
Pygments==2.9.0
pyvis==0.1.9
traitlets==5.0.5
wcwidth==0.2.5
